include ../component/*.pug

include ../part/head.pug

body
  include ../part/header-page.pug

  block content
    p Content section

  include ../part/footer-page.pug
  include ../part/footer-scripts.pug