extends head.pug
  body
    block header-page
      p Header section
    block content
      p Content section
    block footer-page
      p Footer section
  block scripts
    script(src="js/main.min.js")